# Latex
*.aux
*.fdb_latexmk
*.log
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.pdf

# Python
__pycache__
jezyki_skryptowe/proj2/cpython
*.h5
flowers-recognition
DLAA2.0.pkl
DLAA2.1.pkl
DLAA2.2.pkl
DLAA2.3.pkl

# C
*.out
*.a
*.so
build/
*.orig

# Code editors
.vscode
